[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

gunicorn = "*"
Flask = "*"
Flask-Cors = "*"
Flask-JWT = "*"
flask-marshmallow = "*"
Flask-Migrate = "*"
flask-restplus = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
Faker = "*"
psycopg2-binary = "*"



[requires]

python_version = "3.6"
