gunicorn==19.8.1
psycopg2-binary==2.7.4
Faker==0.8.12
Flask==0.12.2
Flask-Cors==3.0.3
Flask-JWT==0.3.2
flask-marshmallow==0.8.0
Flask-Migrate==2.1.1
flask-restplus==0.10.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
marshmallow==2.15.0
marshmallow-sqlalchemy==0.13.2
python-dotenv==0.8.2
